---
name: CI
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run Ameba linter
        uses: crystal-ameba/github-action@master
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        crystal-version: [1.19.0]
    steps:
      - uses: actions/checkout@v6
      - uses: crystal-lang/install-crystal@v1
        with:
          crystal: ${{ matrix.crystal-version }}
      - name: Install dependencies
        run: shards install
      - name: Run tests
        run: crystal spec
